* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
}

.header {
  height: 80px;
  display: flex;
  align-items: center;
}

.header .nav {
  display: flex;
  position: relative;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  border-bottom: 1px solid #111;
}

.header .nav .logo {
  font-size: 3rem;
  margin-right: 100px;
}

.header .menu-list {
  display: flex;
  position: absolute;
  top: 20px;
  left: 100px;
  list-style: none;
  font-size: 1.5rem;
  font-weight: 600;
}

.menu-list__el {
  width: 100%;
  padding: 25px;
  margin-right: 50px;
  cursor: pointer;
}

.menu-list__el a {
  text-decoration: none;
  color: #111;
}

.sticky-list {
  width: 100%;
  display: none;
  position: absolute;
  top: 60px;
}

.menu-list:hover .menu-list__el .sticky-list {
  display: block;
}
