.footer {
  padding: 45px 0 55px;
  width: 100%;
  height: 20%;
  background: #292929;
}

.footer .footArea {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 1168px;
  height: 20%;
}

.footArea .footArea__util a {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.6;
  color: #fff;
  display: block;
}

.footArea .footArea__util a:first-child {
  color: yellow;
}

.footArea .footArea__Info {
  color: #808080;
}

.footArea .footArea__Info h4 {
  font-size: 14px;
  font-weight: 700;
  margin-top: 5px;
  line-height: 1.6;
}

.footArea__sns {
  display: flex;
  align-items: center;
  height: 56px;
}

.footArea__sns .sns__icons {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  border-radius: 50%;
  background-color: #fff;
  color: #292929;
}

.footArea__sns .sns__icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  color: #292929;
}

.footArea__sns .web_accessibility,
.footArea__sns img {
  width: 100px;
  height: 66px;
}
