.footer {
  padding: 45px 0 55px;
  width: 100%;
  height: 20%;
  background: #292929;
}

.footer .footArea {
  margin: 0 auto;
  display: flex;
  max-width: 1168px;
  height: 20%;
}

.footArea .footArea__util a {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.6;
  color: #fff;
  display: block;
}

.footArea .footArea__util a:first-child {
  color: yellow;
}

.footArea .footArea__Info {
  color: #808080;
}

.footArea .footArea__Info h4 {
  font-size: 14px;
  font-weight: 700;
  margin-top: 5px;
  line-height: 1.6;
}
