@import "reset.css";
@import "header.css";
@import "footer.css";
@import "aside.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: SpeedeeK, Malgun Gothic, "맑은 고딕", Dotum, "돋움", Arial,
    sans-serif;
  text-decoration: none;
}

body {
  background-color: #fff;
}

.container {
  position: relative;
  width: 100%;
}

.banner {
  position: relative;
  width: 100%;
  height: 540px;
}

.banner .imgBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 540px;
}

.banner .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 540px;
  object-fit: cover;
  background-position: center;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.banner .imgBox .first {
  opacity: 1;
}

.banner .imgBox .active {
  opacity: 1;
}

.control {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  width: 80px;
  height: 80px;
  z-index: 999;
}

.left {
  left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.control i {
  font-size: 1.5rem;
  color: rgb(212, 209, 209);
}

.content {
  width: 100%;
  padding: 30px 0 60px;
  background: #fbfbfb;
}

.content .inner {
  width: 1168px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner .content__title {
  margin-bottom: 60px;
  color: #292929;
  font-size: 40px;
  font-weight: 600;
}

.inner .content__list {
  width: 100%;
  list-style: none;
}

.content__list li {
  float: left;
  width: 366px;
  height: 438px;
  margin: 0 0 35px 20px;
}
.content__list li::after {
  clear: both;
}

.content__list li a {
  color: inherit;
  display: block;
  overflow: hidden;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 3px 4px rgb(0 0 0 / 10%);
}

.list__imgbox {
  position: relative;
  width: 366px;
  height: 300px;
}

.list__imgbox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 366px;
  height: 300px;
}

.list__imgtext {
  width: 366px;
  height: 138px;
  padding: 24px 20px;
}

.list__imgtext .subtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.7;
  color: #292929;
}

.content__list .test {
  display: none;
}
.content__list .test2 {
  display: none;
}

.content__list .test3 {
  display: none;
}
.content__list .block {
  display: block;
}

.moreBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  text-align: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #f2c851;
  cursor: pointer;
}

.BtnFadeOut {
  display: none;
}

.moreBtn .fa-plus {
  font-size: 1.5rem;
}
